{%- capture historical_chart -%}
{%- include partials/metrics/consensus-client-diversity-validators/historical.html -%}
{%- endcapture -%}


{%- capture source -%}
Data provided by <a href="https://github.com/sigp/blockprint/blob/main/docs/api.md">Sigma Prime's Blockprint</a> — updated daily
{%- endcapture -%}


{%- capture content -%}
{%- assign blockprint = site.data.metrics.consensus-client-diversity-validators.blockprint | last -%}
{%- assign data = blockprint.data.distribution -%}

{% include components/data-progress-bars.html
  data=data
  success_end=33
  danger_start=50
  source=source
%}

<div class="mt-3">
{% include components/details.html
  title="Historical Data"
  body=historical_chart
  source=source
%}
</div>
{%- endcapture -%}


{% include components/card-text.html
  title="Data"
  body=content
%}
