{%- capture list_software -%}
**Software**
- [Instant Validator](https://github.com/accidental-green/validator-install)
- [Eth-Wizard](https://github.com/stake-house/eth-wizard)
- [Eth-Docker](https://ethdocker.com/)
- [Stereum](https://stereum.net/)
- [Vouch](https://github.com/attestantio/vouch)
- [Kotal](https://www.kotal.co/)
{%- endcapture -%}


{%- capture list_data -%}
**Data**
- [Staking Pool Client Diversity](https://www.rated.network/)
- [Miga Labs Dashboard](https://monitoreth.io/)
- [Chainsafe Nodewatch](https://www.nodewatch.io/)
- [Proposer Diversity Data](https://github.com/sigp/blockprint/blob/main/docs/api.md)
- [Rated.Network Validator Ratings](https://www.rated.network/)
- [Financial Risk Per Consensus Client](https://www.slashed.info/)
{%- endcapture -%}


{%- capture list_tools -%}
**Tools**
- [Ethereum Staking Resources](https://ethstaker.cc/resources)
- [Keymanager APIs](https://github.com/ethereum/keymanager-APIs)
{%- endcapture -%}


{%- capture list_research -%}
**Research**
- [Client Fingerprinting](https://twitter.com/sproulM_/status/1440512518242197516)
- [EIP-3076: Slashing Protection Interchange Format](https://eips.ethereum.org/EIPS/eip-3076)
{%- endcapture -%}


{%- assign all_lists = '' | split: '' -%}
{%- assign all_lists = all_lists | push: list_software | push: list_data | push: list_tools | push: list_research -%}

{% include components/card-list.html
  title="Resources"
  lists=all_lists
%}
