{%- assign id = "" | append: include.title -%}
<div class="card" id='{{id | anchor | remove: "#"}}'>
  <div class="card-body">
    {%- if include.title -%}
      <h2 class="card-title">{{include.title}}</h2>
    {%- endif -%}
    {%- if include.body -%}
      {{include.body | markdownify}}
    {%- endif -%}
    {%- if include.button_link and include.button_text -%}
      <a class="btn btn-primary" href="{{include.button_link}}" role="button">{{include.button_text}}</a>
    {%- endif -%}
  </div>
</div>
