<div>
  {%- for item in include.data -%}
    {%- assign name = item.name | capitalize -%}
    {%- assign value = item.value | times: 100 | round: 2 -%}
    {%- assign accuracy = "no data" -%}
    {%- if item.accuracy != "no data" -%}
      {%- assign accuracy = item.accuracy | times: 100 | round: 1 | append: "%" -%}
    {%- endif -%}

    {%- capture accuracy_tooltip -%}
      <div class="d-flex justify-content-between">
        <span class="me-2">accuracy:</span><span>{{accuracy}}</span>
      </div>
    {%- endcapture -%}
    {%- if item.accuracy -%}
      {%- assign accuracy_tooltip = "" -%}
    {%- endif -%}

    {%- assign color = "success" -%}
    {%- assign status = "great!" -%}
    {%- if value > include.danger_start -%}
      {%- assign color = "danger" -%}
      {%- assign status = "danger!" -%}
    {%- elsif value > include.success_end -%}
      {%- assign color = "warning" -%}
      {%- assign status = "caution" -%}
    {%- endif -%}

    {%- assign success_width = include.success_end -%}
    {%- assign danger_width = 100 | minus: include.danger_start -%}
    {%- assign warning_width = 100 | minus: success_width | minus: danger_width -%}


    <div class="my-2">
      <label class="form-label my-0 py-0">{{name}} - {{value}}%</label>
      <div class="progress position-relative" 
          data-bs-toggle="tooltip" data-bs-placement="top" data-bs-html="true" title='
              <div class="progress-tooltip text-capitalize text-start">
                <div class="mb-1 pb-1 text-center border-bottom border-secondary">
                  {{name}} status:<br>{{value}}% ({{status}})
                </div>
                <div class="d-flex justify-content-between">
                  <span class="me-2">great:</span><span>0-{{include.success_end}}%</span>
                </div>
                <div class="d-flex justify-content-between">
                  <span class="me-2">caution:</span><span>{{include.success_end}}-{{include.danger_start}}%</span>
                </div>
                <div class="d-flex justify-content-between mb-1 pb-1 border-bottom border-secondary">
                <span class="me-2">danger:</span><span>{{include.danger_start}}-100%</span>
                </div>
                {{accuracy_tooltip}}
              </div>'>
        <div class="progress-bar position-absolute bg-{{color}}" role="progressbar" style="width: {{value}}%;" aria-valuenow="{{value}}" aria-valuemin="0" aria-valuemax="100"></div>
        <div class="progress-bar bg-trans progress-success" role="progressbar" style="width: {{success_width}}%;"></div>
        <div class="progress-bar bg-trans progress-warning" role="progressbar" style="width: {{warning_width}}%;"></div>
        <div class="progress-bar bg-trans progress-danger" role="progressbar" style="width: {{danger_width}}%;"></div>
      </div>
    </div>
  {%- endfor -%}
</div>

{%- if include.source -%}
  <p class="mt-2 fst-italic">
    <small>{{include.source}}</small>
  </p>
{%- endif -%}
