<style type="text/css">
  aside {
    min-height: 100vh;
    max-height: 100vh;
    /*width: 220px;*/
    /*min-width: 220px;*/
    width: 275px;
    min-width: 275px;
    /*padding: 1.5rem;*/
    padding: 1.25rem;
    padding-right: 0;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */

    font-size: 0.85rem;
  }
  aside::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
  }

  .sidebar-nav .sidebar-brand a {
    text-decoration: none;
  }
  .sidebar-nav .sidebar-brand img {
    height: 1.7rem;
    margin-top: -10px;
  }

  .sidebar-nav .sidebar-cat {
    width: 100%;
    font-size: 0.75rem;
    opacity: 0.5;
    padding: 0.375rem;
    overflow-wrap: break-word;
  }

  .sidebar-nav .sidebar-link {
    display: block;
    width: 100%;
    opacity: 0.8;
    /*padding: 0.375rem;*/
    padding: 0.265rem 0.4rem;
    margin-bottom: 0.25rem;
    overflow-wrap: break-word;
    text-decoration: none;
    color: inherit;
  }
  .sidebar-nav summary.sidebar-link,
  .sidebar-nav .sidebar-link-main {
    display: flex;
    font-weight: 500;
    opacity: 1;
  }
  .sidebar-nav details .sidebar-link:not(summary) {
    /*padding-left: 1rem;*/
    padding-left: 1.9rem;
  }

  .sidebar-nav .sidebar-link:hover {
    opacity: 1;
    background-color: rgba(246,246,246,0.1);
    border-radius: var(--bs-border-radius);
  }
  .sidebar-nav .sidebar-link.active {
    opacity: 1;
    background-color: var(--soe-accent-blue);
    border-radius: var(--bs-border-radius);
  }
  .sidebar-nav .sidebar-link.disabled {
    opacity: 0.5 !important;
    pointer-events: none !important;
    cursor: default !important;
  }

  .sidebar-nav summary > .arrowicon {
    margin-left: auto;
    margin-top: -1px;
  }
  .sidebar-nav details[open] summary > .arrowicon {
    transform: rotate(90deg);
    transition: all 0.1s ease 0s;
  }

  .sidebar-nav .sidebar-link .badge {
    text-transform: uppercase;
    height: 1.125rem;
    margin-top: 0.125rem;
    background-color: rgba(235, 235, 235,1)!important;
    color: var(--bs-body-bg);
  }
  .sidebar-nav .sidebar-link:hover .badge {
    background-color: rgba(var(--bs-light-rgb),1)!important;
  }
  .sidebar-nav .sidebar-link.disabled .badge {
    background-color: transparent !important;
    color: inherit !important;
    border: 1px solid rgb(250, 250, 250);
  }

  .sidebar-nav hr {
    margin: 0.75rem 0.25rem;
  }

  .sidebar-nav .credit {
    display: block;
    width: 100%;
    /*padding: 0.375rem;*/
    padding: 0.265rem 0.4rem;
    margin-bottom: 1.5rem;
    overflow-wrap: break-word;
    text-decoration: none;
    color: #8f9092;
    font-size: 0.75rem;
  }
</style>


{%- assign active_subcategory = "" -%}
{%- for category in site.data.sidebar-nav -%}
  {%- for item in category.items -%}
    {%- for subitem in item.sub_items -%}
      {%- if subitem.link == page.permalink -%}
        {%- assign active_subcategory = item.subcategory -%}
      {%- endif -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endfor -%}

<aside class="d-none d-lg-inline">
  <div class="sidebar-nav mb-5">
    <div class="sidebar-brand mb-2">
      <!-- <a href="/" class="link-light fw-bold lead"><span class="me-1 fs-3">🌡️</span> State of Eth</a> -->
      <a href="/" class="link-light fw-bold lead">
        <img class="me-1 fs-3" src="/assets/img/logo/logo-md.png" alt="🌡️"> 
        State of Eth
      </a>
    </div>
    {%- for category in site.data.sidebar-nav -%}
      {%- assign category_name = category.category -%}
      <div class="sidebar-cat">{{category_name}}</div>
      {%- for item in category.items -%}
        {%- if item.subcategory -%}
          {%- assign icon = "" -%}
          {%- if item.icon -%}
            {%- capture icon  -%}
              <span class="me-2">{{site.data.icons[item.icon]}}</span>
            {%- endcapture -%}
          {%- endif -%}
          {%- assign label = "" -%}
          {%- if item.label -%}
            {%- capture label  -%}
              <span class="badge">{{item.label}}</span>
            {%- endcapture -%}
          {%- endif -%}
          {%- capture expand_arrow  -%}
            <span class="arrowicon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
          {%- endcapture -%}
          {%- assign disabled = "" -%}
          {%- if item.disabled -%}
            {%- assign disabled = "disabled" -%}
            {%- assign expand_arrow = "" -%}
          {%- endif -%}
          {%- assign open = "" -%}
          {%- if item.subcategory == active_subcategory -%}
            {%- assign open = "open" -%}
          {%- endif -%}
          <details {{open}}>
            <summary class="sidebar-link {{disabled}}">{{icon}}{{item.subcategory}}{{label}}
              {{expand_arrow}}
            </summary>
            {%- for subitem in item.sub_items -%}
              {%- assign new_tab = "" -%}
              {%- assign new_tab_class = "" -%}
              {%- if subitem.new_tab -%}
                {%- assign new_tab = 'target="_blank"' -%}
                {%- assign new_tab_class = "new-tab" -%}
              {%- endif -%}
              {%- assign active = "" -%}
              {%- if subitem.link == page.permalink -%}
                {%- assign active = "active" -%}
              {%- endif -%}
              {%- assign label = "" -%}
              {%- if subitem.label -%}
                {%- capture label  -%}
                  <span class="badge">{{subitem.label}}</span>
                {%- endcapture -%}
              {%- endif -%}
              {%- assign disabled = "" -%}
              {%- if subitem.disabled -%}
                {%- assign disabled = "disabled" -%}
              {%- endif -%}
              <a href="{{subitem.link}}" {{new_tab}} class="sidebar-link {{disabled}} {{active}} {{new_tab_class}}">{{subitem.title}}{{label}}</a>
            {%- endfor -%}
          </details>
        {%- else -%}
          {%- assign new_tab = "" -%}
          {%- assign new_tab_class = "" -%}
          {%- if item.new_tab -%}
            {%- assign new_tab = 'target="_blank"' -%}
            {%- assign new_tab_class = "new-tab" -%}
          {%- endif -%}
          {%- assign active = "" -%}
          {%- if item.link == page.permalink -%}
            {%- assign active = "active" -%}
          {%- endif -%}
          {%- assign icon = "" -%}
          {%- if item.icon -%}
            {%- capture icon  -%}
              <span class="me-2">{{site.data.icons[item.icon]}}</span>
            {%- endcapture -%}
          {%- endif -%}
          {%- assign label = "" -%}
          {%- if item.label -%}
            {%- capture label  -%}
              <span class="badge">{{item.label}}</span>
            {%- endcapture -%}
          {%- endif -%}
          {%- assign disabled = "" -%}
          {%- if item.disabled -%}
            {%- assign disabled = "disabled" -%}
          {%- endif -%}
          {%- if category_name == "Metrics" -%}
            <a href="{{item.link}}" {{new_tab}} class="sidebar-link sidebar-link-main {{disabled}} {{active}} {{new_tab_class}}">{{icon}}{{item.title}}{{label}}</a>
          {%- else -%}
            <a href="{{item.link}}" {{new_tab}} class="sidebar-link {{disabled}} {{active}} {{new_tab_class}}">{{icon}}{{item.title}}{{label}}</a>
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      <hr>
    {%- endfor -%}
    <div class="credit">Developed by <a href="https://etheralpha.org" target="_blank">Ether Alpha</a></div>
  </div>
</aside>
